body header section h1{ 
    font-family: Georgia, 'Times New Roman', Times, serif ; color: darkred; text-align: center; padding-top: 60px;}
 nav{
     background-color: rgb(238, 245, 98);padding: 10px; margin-top:100px; color: black; font-family: Arial, Helvetica, sans-serif;font-weight: bolder; text-decoration: none; font-size: larger;}
a:hover{color: firebrick; }
div h2{font-family: Arial, Helvetica, sans-serif;color: slateblue;font-style: italic;font-size: large; }
div p{ font-size: larger; font-family: Arial, Helvetica, sans-serif; font-weight: bold;  }
div{ padding: 30px;  width: 300px; margin-top: 300px; }

img{ width: 300px; height: 200px; }
figure{ padding: 0px 50px;}
div + figure { display: inline-block;}
